.temperatura {
    border-radius:0px 15px 15px 0px;
    text-align:left;
}

.porta {
    border-radius:15px 0px 0px 15px;
}

form#form_temp {
    margin-top:20px;
}

.display_temp {
    background-color:transparent;
    border:0;
    color:#eaeef1;
    margin-left:0;
    font-size:13px;
    font-family:helvetica;
}

button#enviar_faixa {
    background-color:rgba(19, 49, 72, 0.3);
    border:1px solid #66afe9;
	color:#eaeef1;
	border-radius:20px;
	height:35px;
    font-size:13px; 
    margin-top:8px;
	outline: thin dotted;
	outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}